<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define exts=_testcapi;_ctypes_test;_testbuffer;_testimportmultiple;_testmultiphase;_testconsole;_testinternalcapi ?>
    <Fragment>
        <ComponentGroup Id="test_extensions">
            <?foreach ext in $(var.exts)?>
        
            <Component Id="$(var.ext).lib" Directory="libs" Guid="*">
                <File Name="$(var.ext).lib" KeyPath="yes" />
            </Component>
            
            <?endforeach ?>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="test_extensions_symbols">
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="test_extensions_d">
        </ComponentGroup>
    </Fragment>
</Wix>
