<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="tkinter_extension">
        </ComponentGroup>
        <ComponentGroup Id="tcltk_dlls">
            <Component Id="_tkinter.lib" Directory="libs" Guid="*">
                <File Name="_tkinter.lib" KeyPath="yes" />
            </Component>
            <Component Id="tcl86ts.lib" Directory="libs" Guid="*">
                <File Name="tcl86ts.lib" Source="..\..\externals\tcltk-8.6.12.0\amd64\lib\tcl86ts.lib" KeyPath="yes" />
            </Component>
            <Component Id="tk86ts.lib" Directory="libs" Guid="*">
                <File Name="tk86ts.lib" Source="..\..\externals\tcltk-8.6.12.0\amd64\lib\tk86ts.lib" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="tkinter_extension_symbols">
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="tkinter_extension_d">
        </ComponentGroup>
    </Fragment>
</Wix>
