<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="tkinter_extension">
        </ComponentGroup>
        <ComponentGroup Id="tcltk_dlls">
            <Component Id="_tkinter.lib" Directory="libs" Guid="*">
                <File Name="_tkinter.lib" KeyPath="yes" />
            </Component>
            <Component Id="tcl86t.dll" Directory="DLLs" Guid="*">
                <File Name="tcl86t.dll" KeyPath="yes">
					<CopyFile Id="MyFileCopyIdTCL" DestinationDirectory="InstallDirectory" />
				</File>
            </Component>
            <Component Id="tk86t.dll" Directory="DLLs" Guid="*">
                <File Name="tk86t.dll" KeyPath="yes">
					<CopyFile Id="MyFileCopyIdTK" DestinationDirectory="InstallDirectory" />
				</File>
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="tkinter_extension_symbols">
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="tkinter_extension_d">
        </ComponentGroup>
    </Fragment>
</Wix>
