<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="core_dll">
            <Component Id="python_stable.dll" Directory="libs" Guid="*">
                <File Id="python_stable.dll" Name="python$(var.MajorVersionNumber).lib" KeyPath="yes" />
            </Component>
            <Component Id="python.lib" Directory="libs" Guid="*">
                <File Id="python.lib" Name="python$(var.MajorVersionNumber)$(var.MinorVersionNumber).lib" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="core_symbols">
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="core_dll_d">
        </ComponentGroup>
    </Fragment>
</Wix>
